# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/

# Build products
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.idea/
*.swp
*.swo
*~
